@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* BODY */
body {
  background-color: #f2eae2;
  justify-items: center;
  padding-top: 5%;
}
/* ========================================================================== */
/* CONTAINER */
/* ========================================================================== */
.container {
  background-color: #ffffff;
  width: 343px;
  height: 611px;
  border-radius: 10px;
}

.image {
  background-color: #ffffff;
  width: 343px;
  height: 240px;
  border-radius: 10px;
}

/* CONTENT */
.content {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
}

/* CATEGORY */
.category {
  color: #6c7289;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 5px;
}

/* TITLE */
.title {
  color: #1c232b;
  font-family: Fraunces;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0px;
}

.desc {
  color: #6c7289;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0px;
}

/* PRICE */ */
.price {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.price-bef{
  color: #6c7289;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  text-decoration: line-through;
}

.price-aft {
  color: #3d8168;
  font-family: Fraunces;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0px;
  padding-right: 20px;
}

/* CART */
.cart {
  background-color: #3d8168;
  width: 295px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.cart-text {
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  padding-left: 15px;
}

/* ========================================================================== */
/* RESPONSIVE DISPLAY */
/* ========================================================================== */
/* phones, 600px and down */
@media only screen and (max-width: 600px) {
  .image-2 {
    display: none;
  }
}

/* portrait tablets and large phones, 600px and up */
@media only screen and (min-width: 600px) {
  .image-2 {
    display: none;
  }
}

/* landscape tablets, 768px and up */
@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    width: 600px;
    height: 450px;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    flex-direction: row;
  }
  .content {
    border-radius: 10px;
    width: 235px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cart{
    width: 100%;
  }
  .price{
    padding-top: 0;
    padding-bottom: 20px;
  }
  .image {
    display: none;
  }
  .image-2 {
    display: grid;
  }
  .content{
    display: grid;
  }
}

/* laptops/desktops, 992px and up */
@media only screen and (min-width: 992px) {
  .container {
    display: flex;
    width: 600px;
    height: 450px;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    flex-direction: row;
  }
  .content {
    border-radius: 10px;
    width: 235px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cart{
    width: 100%;
  }
  .price{
    padding-top: 0;
    padding-bottom: 20px;
  }
  .image {
    display: none;
  }
  .image-2 {
    display: grid;
  }
  .content{
    display: grid;
  }
}

/* large laptops and desktops, 1200px and up */
@media only screen and (min-width: 1200px) {
  .container {
    display: flex;
    width: 600px;
    height: 450px;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    flex-direction: row;
  }
  .content {
    border-radius: 10px;
    width: 235px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cart{
    width: 100%;
  }
  .price{
    padding-top: 0;
    padding-bottom: 20px;
  }
  .image {
    display: none;
  }
  .image-2 {
    display: grid;
  }
  .content{
    display: grid;
  }
}