@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@layer utilities {
    .figtree-normal{
        font-family: "Figtree";
        font-weight: 800;
        font-size:20px;
    }
}

@layer components {
  .navbar {
    @apply flex justify-between p-2.5 bg-amber-50 text-black items-center;
  }
}

@layer components {
  .button {
    @apply border border-white rounded-2xl min-w-[80px];
    @apply md:min-w-[160px] md:bg-gray-300;
  }
}