body: {
    background-color: #F4D04E;
}

.font-1 {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #000000;
}

.font-2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #000000;
}

.font-3 {
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    color: #000000;
}

.container: {
    background-color: #FFFFFF;
    border: 1px solid #111111;
    box-shadow: 8px 8px 0px 0px #000000;
    width: 327;
    height: 501;
    top: 156px;
    left: 24px;
    gap: 24px;
    border-radius: 20px;
    border-width: 1px;
    padding: 24px;
}

.content: {
    width: 279;
    height: 173;
    gap: spacing/150;

}

.button {
    background-color: #F4D04E;
    width: 73;
    height: 26;
    gap: 8px;
    border-radius: 4px;
    padding-top: 4px;
    padding-right: 12;
    padding-bottom: 4px;
    padding-left: 8px;

}

.author: {
    width: 129;
    height: 32;
    gap: 12px;

}

.profile: {
    width: 32;
    height: 32;
    border-radius: 50%;
    border: 2px solid #000000;

}